In [30]:
# Import modules
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
import seaborn as sns


loan_data=pd.read_csv('cr_loan_w2.csv')

In [31]:
loan_data.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,...,loan_intent_VENTURE,loan_grade_A,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_N,cb_person_default_on_file_Y
count,29459.000000,2.945900e+04,29459.000000,29459.000000,29459.000000,29459.00000,29459.000000,29459.000000,29459.000000,29459.000000,...,29459.000000,29459.000000,29459.000000,29459.000000,29459.000000,29459.000000,29459.000000,29459.000000,29459.000000,29459.000000
mean,27.700058,6.580373e+04,4.758410,9583.600937,11.011529,0.21939,0.170111,5.788078,0.411385,0.003191,...,0.174853,0.331749,0.318850,0.197766,0.112461,0.029906,0.007264,0.002003,0.823076,0.176924
std,6.165415,5.133110e+04,3.980653,6314.421006,3.240497,0.41384,0.106849,4.030672,0.492093,0.056399,...,0.379848,0.470849,0.466039,0.398322,0.315939,0.170331,0.084922,0.044708,0.381611,0.381611
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.00000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.00000,0.090000,3.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.00000,0.150000,4.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,30.000000,7.905000e+04,7.000000,12250.000000,13.470000,0.00000,0.230000,8.000000,1.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,84.000000,2.039784e+06,41.000000,35000.000000,23.220000,1.00000,0.830000,30.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
# Create `loan_data` subset: loan_data_subset
loan_data_subset = loan_data[['Credit Score','Annual Income','Loan_status']]

# Create train and test sets
trainingSet, testSet = train_test_split(loan_data_subset, test_size=0.2, random_state=123)

# Examine pairplots
plt.figure()
sns.pairplot(trainingSet, hue='Loan Status', palette='RdBu')
plt.show()

plt.figure()
sns.pairplot(testSet, hue='Loan Status', palette='RdBu')
plt.show()

KeyError: "None of [Index(['Credit Score', 'Annual Income', 'Loan Status'], dtype='object')] are in the [columns]"